body{
    /* background-image: url('https://phonoteka.org/uploads/posts/2022-01/1643599127_19-phonoteka-org-p-kartinka-gradient-dlya-fona-20.jpg'); */
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}

.container-fluid{
    padding: 50px;
}

.table{
    color: #fff;
}

.table tr:hover{
    background: rgba(0, 0, 0, 0.172);
}